# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
bld/
[Bb]in/
[Oo]bj/

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.js.map
*.orig
*.nupkg
*.tmp
bin/
obj/
**/packages/**/*.xml
Binaries/
*.sln.ide/
/White Label Template/Publish/
_Chutzpah.*.html
.vs

#AjaxCommunicationToolkit
!/WHL BO/WHLBO/Bin/AjaxControlToolkit.dll
!/WHL BO/AffiliatesBO/Bin/AjaxControlToolkit.dll

#Do not ignore anything under NuGet packages folder
!**/packages/**/*.dll
#Ignore XML files under NuGet packages folder
**/packages/**/*.xml
**/packages/**/*.XML
#Allow unity dll
!/Admin/BetManager/Unity/Microsoft.Practices.Unity.dll

#Ignore generatedweb.config
src/SBWHLMobileClient/web.config

*.orig
*sln.ide
#Ignore StyleCopReport.xml
StyleCopReport.xml
/White Label Template/TestResults
**/Binaries

#Ignore CI artifacts
!Tools/*
/White Label Template/TestResults
Binaries
jasmine-result**
/Admin/packages

packages/

!Lib/
!Vendor/
!/build/
!/scripts/

#Ignore Web Compiler LESS watcher config
src/SBWHLMobileClient/compilerconfig.json

#Ignore casino styles node_modules
src/SBWHLMobileClient/css/shared/cas-widgets/node_modules
src/SBWHLMobileClient/css/shared/cas-widgets/package-lock.json

#Ignore runtime created file for partial styles
*app.*.min.css

#Ignore TEMPLATE_R design resources
src/SBWHLMobileClient/Skins/TEMPLATE_R/imgs

#Ignore linked JS files
src/SBWHLMobileClient/JSComponents/AJAX.js
src/SBWHLMobileClient/JSComponents/AJAXDataService.js
src/SBWHLMobileClient/JSComponents/ArrayExt.js
src/SBWHLMobileClient/JSComponents/Constants.js
src/SBWHLMobileClient/JSComponents/JSInclude.js
src/SBWHLMobileClient/JSComponents/NumberExt.js
src/SBWHLMobileClient/JSComponents/StringExt.js
src/SBWHLMobileClient/JSComponents/DateExt.js
src/SBWHLMobileClient/JSComponents/TimeControl.js
src/SBWHLMobileClient/JSComponents/Data/BaseEventInfo.js
src/SBWHLMobileClient/JSComponents/Data/Arrays.js
src/SBWHLMobileClient/JSComponents/Data/BonusInfo.js
src/SBWHLMobileClient/JSComponents/Data/CountryInfo.js
src/SBWHLMobileClient/JSComponents/Data/Enum/BetTypes.js
src/SBWHLMobileClient/JSComponents/Data/EventInfo.js
src/SBWHLMobileClient/JSComponents/Data/FractionalOddsConverter.js
src/SBWHLMobileClient/JSComponents/Data/LineGroup.js
src/SBWHLMobileClient/JSComponents/Data/LiveBettingQAEventInfo.js
src/SBWHLMobileClient/JSComponents/Data/LiveBettingSpecialEventInfo.js
src/SBWHLMobileClient/JSComponents/Data/LiveNowBranchInfo.js
src/SBWHLMobileClient/JSComponents/Data/MarketInfo.js
src/SBWHLMobileClient/JSComponents/Data/QAColumn.js
src/SBWHLMobileClient/JSComponents/Data/QAEventInfo.js
src/SBWHLMobileClient/JSComponents/Data/QALine.js
src/SBWHLMobileClient/JSComponents/Data/SplitTypes.js
src/SBWHLMobileClient/JSComponents/Data/UserInfo.mobile.js
src/SBWHLMobileClient/JSComponents/Data/VirtualSoccerSilk.js
src/SBWHLMobileClient/JSComponents/Data/Racing/PreviousRaceInfo.js
src/SBWHLMobileClient/JSComponents/Data/Racing/RacecardLineInfo.js
src/SBWHLMobileClient/JSComponents/Data/Racing/RacingEventInfo.js
src/SBWHLMobileClient/JSComponents/Data/Racing/RacingEventShortInfo.js
src/SBWHLMobileClient/JSComponents/Data/Racing/RacingRegionInfo.js
src/SBWHLMobileClient/JSComponents/Data/Racing/RacingResultInfo.js
src/SBWHLMobileClient/JSComponents/Data/Racing/RacingTrackInfo.js
src/SBWHLMobileClient/JSComponents/Data/Scoreboards/BasketballScore.js
src/SBWHLMobileClient/JSComponents/Data/Scoreboards/CricketScore.js
src/SBWHLMobileClient/JSComponents/Data/Scoreboards/IceHockeyScore.js
src/SBWHLMobileClient/JSComponents/Data/Scoreboards/TennisScore.js
src/SBWHLMobileClient/JSComponents/Data/Scoreboards/ScoreBoardParser.js
src/SBWHLMobileClient/JSComponents/Data/Scoreboards/VolleyballScore.js
src/SBWHLMobileClient/JSComponents/Data/Search/SearchController.js
src/SBWHLMobileClient/JSComponents/Data/Search/SearchData.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/AcceptChangingOdds.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/BasePurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/BaseSelection.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/BetSlipErrorMessagesHelper.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/BetSlipValidation.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/ComboBet.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/ComboPurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/ComboSlipState.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/BaseSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/ComboSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/EditOpenBetSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/SingleSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/SystemSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/TeaserSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/UKSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/PulseSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/YourBetSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/MultiLineItem.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/MultiLineSingleBet.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/MultiLineSinglePurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Purchases.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPPurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Selections.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/QALiveSelection.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/QASelection.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/RegularLiveSelection.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/RegularSelection.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SelectionHelper.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPMyBets.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPMyBetsPurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPPurchaseBuilder.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SingleBet.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SinglePurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SingleSlipState.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SystemBet.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SystemPurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SystemSlipState.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/TeaserBet.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/TeaserPurchase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/TeaserSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/UniSlip.js
src/SBWHLMobileClient/JSComponents/Data/RememberMeUtility.js
src/SBWHLMobileClient/JSComponents/Data/RememberMeUtility.ext.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/BaseQuickStake.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPPurchaseBase.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPPurchaseStatus.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPPurchaseType.js
src/SBWHLMobileClient/JSComponents/Pages/SPOpenBets.js
src/SBWHLMobileClient/JSComponents/Pages/Blocks/RegulationBlock.js
src/SBWHLMobileClient/JSComponents/Pages/Blocks/OptInBonusBlock.js
src/SBWHLMobileClient/JSComponents/Pages/Blocks/DepositLimits.js
src/SBWHLMobileClient/JSComponents/Pages/Blocks/DepositLimits.ext.js
src/SBWHLMobileClient/JSComponents/Pages/Blocks/RegulationsQuizBlock.js
src/SBWHLMobileClient/JSComponents/Data/SplitTypes.js
src/SBWHLMobileClient/JSComponents/SplItTypes/BaseSplitType.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType0.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType2.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType3.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType4.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType5.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType6.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType7.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType8.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType9.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType21.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType22.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType23.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType24.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType25.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType26.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType27.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType28.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType29.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType30.js
src/SBWHLMobileClient/JSComponents/SplItTypes/SplitType99.js
src/SBWHLMobileClient/JSComponents/SplitTypes/FastMarket.js
src/SBWHLMobileClient/JSComponents/SplitTypes/TennisFastMarket.js
src/SBWHLMobileClient/JSComponents/Utils/Arrays.js
src/SBWHLMobileClient/JSComponents/Utils/Bets.js
src/SBWHLMobileClient/JSComponents/Utils/BetSlipGlobal.js
src/SBWHLMobileClient/JSComponents/Utils/BetSlipUtil.js
src/SBWHLMobileClient/JSComponents/Utils/Cookies.js
src/SBWHLMobileClient/JSComponents/Utils/Data.js
src/SBWHLMobileClient/JSComponents/Utils/Events.js
src/SBWHLMobileClient/JSComponents/Utils/Filters.js
src/SBWHLMobileClient/JSComponents/Utils/History.js
src/SBWHLMobileClient/JSComponents/Utils/Lines.js
src/SBWHLMobileClient/JSComponents/Utils/Language.js
src/SBWHLMobileClient/JSComponents/Utils/Odds.js
src/SBWHLMobileClient/JSComponents/Utils/StorageUtils.js
src/SBWHLMobileClient/JSComponents/Utils/Styles.js
src/SBWHLMobileClient/JSComponents/Utils/TransferMoneyUtil.js
src/SBWHLMobileClient/JSComponents/Utils/WebStorage.js
src/SBWHLMobileClient/JSComponents/custom/extends.js
src/SBWHLMobileClient/JSComponents/custom/jsErrorsLog.js
src/SBWHLMobileClient/JSComponents/custom/jsErrorsLog_Constants.js
/src/SBWHLMobileClient/templates/blocks/ProtectionOfCustomerFundsHTMLBlock.js
/src/SBWHLMobileClient/JSComponents/GoogleAnalyticsExperiment.js
src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/BasePlayByPlay.js
src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlayBaseDrawer.js
src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlaySoccerDrawer.js
src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlayBasketballDrawer.js
src/SBWHLMobileClient/JSComponents/Data/eBranches.js
src/SBWHLMobileClient/JSComponents/Data/Regulations/PortugueseIdValidator.js
src/SBWHLMobileClient/JSComponents/Data/Regulations/PolishValidator.js
src/SBWHLMobileClient/JSComponents/Data/SelfExclusionInformation.js
src/SBWHLMobileClient/JSComponents/Data/QAEventTeamSwap.js
src/SBWHLMobileClient/JSComponents/Data/Regulations/BetSlipRegulations.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/ComboNoCombinationSPSlipMode.js
/src/SBWHLMobileClient/JSComponents/Data/Racing/RacingEventInfoAustralianView.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/ComboBonusPresenter.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/ComboNoCombinationSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/ComboNoCombinationSingleSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Utils/Facade.js
src/SBWHLMobileClient/JSComponents/Utils/PushOddsUtils.js
src/SBWHLMobileClient/JSComponents/communicator.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/CombinatorSPSlipMode.js
src/SBWHLMobileClient/JSComponents/Data/Regulations/RomanianIdValidator.js
/.vs/config/applicationhost.config
/src/SBWHLMobileClient/JSComponents/custom/uiSlider.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarController.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarWidgetConfiguration.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarWidgetType.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarLiveStatsConfiguration.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarPlayByPlayConfiguration.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarScoreboardConfiguration.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarWidgetConfigurationFactory.js
/src/SBWHLMobileClient/JSComponents/BetRadar/BetRadarLanguageMappings.js
src/SBWHLMobileClient/JSComponents/Data/Languages/LanguageItem.js
src/SBWHLMobileClient/JSComponents/Data/Languages/LanguageItemCache.js
src/SBWHLMobileClient/JSComponents/Data/Racing/HighlightedRacingEventInfo.js

src/SBWHLMobileClient/JSComponents/Data/UniSlip/BaseCashoutBetDrawer.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/CashoutManager.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/SPMyBetsCashoutBetDrawer.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/ComboBonusProvider.js
src/SBWHLMobileClient/JSComponents/Pages/TranslatePage.js
src/SBWHLMobileClient/JSComponents/Pages/TranslatePageExt.js
src/SBWHLMobileClient/JSComponents/PushServer/pushCommunicator.js
src/SBWHLMobileClient/JSComponents/PushServer/jquery.signalR-2.2.0.min.js
src/SBWHLMobileClient/JSComponents/PushServer/PushPlugins/OddsPlugin.js
src/SBWHLMobileClient/JSComponents/PushServer/PushPlugins/SogeiPlugin.js
src/SBWHLMobileClient/JSComponents/PushServer/PushPlugins/UserBetsPlugin.js
src/SBWHLMobileClient/JSComponents/PushServer/PushMessageHandlers/PushBaseMessageHandler.js
src/SBWHLMobileClient/JSComponents/PushServer/PushMessageHandlers/PushOddsMessageHandler.js
src/SBWHLMobileClient/JSComponents/PushServer/PushMessageHandlers/PushSogeiMessageHandler.js
src/SBWHLMobileClient/JSComponents/PushServer/PushMessageHandlers/PushUserBetsMessageHandler.js
/src/SBWHLMobileClient/JSComponents/Data/DocumentsManagementModel.js
/src/SBWHLMobileClient/AddressFinder.aspx
/src/SBWHLMobileClient/Methods/AddressFinder.ashx
/src/SBWHLMobileClient/JSComponents/SuggestionsControl.js
/src/SBWHLMobileClient/Methods/AddressService.ashx
src/SBWHLMobileClient/JSComponents/AddressFinding/AddressFinder.js
src/SBWHLMobileClient/JSComponents/AddressFinding/AddressFinderMapper.js
src/SBWHLMobileClient/JSComponents/Utils/VirtualSports.js
src/SBWHLMobileClient/JSComponents/custom/bonusOfferPopUp.js
src/SBWHLMobileClient/JSComponents/custom/bonusOfferPopUpCreator.js
src/WHLClientTemplate/JSComponents/custom/ESInfoLogger.js
src/SBWHLMobileClient/templates/custom/TbonusOfferPopUp.js
src/SBWHLMobileClient/JSComponents/custom/mobile-detect.js
src/SBWHLMobileClient/JSComponents/custom/ui.detect.js

src/SBWHLMobileClient/JSComponents/custom/LZString.js
src/SBWHLMobileClient/JSComponents/custom/VisualLogger.js
src/SBWHLMobileClient/JSComponents/Data/GameStatus.js
/src/SBWHLMobileClient/JSComponents/Data/LoyaltyPrograms/LoyaltyProgramCalculations.js
/src/SBWHLMobileClient/JSComponents/Data/LoyaltyPrograms/LoyaltyPointType.js
/src/SBWHLMobileClient/JSComponents/Data/LoyaltyPrograms/LoyaltyProgramConfiguration.js

src/SBWHLMobileClient/JSComponents/Data/VirtualSports/VirtualRacingEventResult.js
src/SBWHLMobileClient/JSComponents/Data/VirtualSports/VirtualHorseRacingEventInfo.js
src/SBWHLMobileClient/JSComponents/Data/VirtualSports/VirtualRacecardLineInfo.js
src/SBWHLMobileClient/JSComponents/CountdownTimer.js
src/SBWHLMobileClient/JSComponents/Data/VirtualSports/VirtualSportsCommon.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/BetSlipPreviewDataProviderFactory.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/DataProviders/AkoBetSlipPreviewDataProvider.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/DataProviders/BaseBetSlipPreviewDataProvider.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/DataProviders/CombinatorBetSlipPreviewDataProvider.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/DataProviders/ComboBetSlipPreviewDataProvider.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/DataProviders/SingleBetSlipPreviewDataProvider.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/DataProviders/SystemBetSlipPreviewDataProvider.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Preview/BaseBetSlipPreview.js
src/SBWHLMobileClient/JSComponents/Utils/CryptoHelper.js
src/SBWHLMobileClient/JSComponents/aes.js
src/SBWHLMobileClient/JSComponents/Data/TaxProviders/BaseTaxProvider.js
src/SBWHLMobileClient/JSComponents/Data/TaxProviders/FixTaxOnReturnProvider.js
src/SBWHLMobileClient/JSComponents/Data/TaxProviders/TurnoverAndReturnTaxProvider.js
src/SBWHLMobileClient/JSComponents/Data/TaxProviders/EmptyTaxProvider.js
src/SBWHLMobileClient/JSComponents/Data/TaxProviders/MexicanTaxProvider.js
src/SBWHLMobileClient/JSComponents/Data/TaxProviders/GreekTaxProvider.js
src/SBWHLMobileClient/JSComponents/Utils/LiveEventsTime.js
src/SBWHLMobileClient/JSComponents/EventsManager/EventsManager.js
/src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/Drawers/PlayByPlayTennisDrawer.js
/src/SBWHLMobileClient/JSComponents/Statistics.js
/src/SBWHLMobileClient/JSComponents/Statistics/BetRadarStatistics.js
/src/SBWHLMobileClient/JSComponents/Statistics/EnetPulseStatistics.ext.js
/src/SBWHLMobileClient/JSComponents/Statistics/EnetPulseStatistics.js
/src/SBWHLMobileClient/JSComponents/Statistics/StatisticsProviderFactory.js
/src/SBWHLMobileClient/JSComponents/Statistics/BaseWindowPopup.js
/src/SBWHLMobileClient/JSComponents/AJAX.js
/src/SBWHLMobileClient/JSComponents/custom/ESInfoLogger.js
/src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/Drawers/Statistics/TennisStatistics.js
/src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/Drawers/Statistics/TTennisStatistics.js
/src/SBWHLMobileClient/JSComponents/Data/PlayByPlay/pbp.js
/src/SBWHLMobileClient/JSComponents/Data/PlayByPlay/promise.js
/src/SBWHLMobileClient/JSComponents/Data/PlayByPlay/velocity.min.js
/src/SBWHLMobileClient/JSComponents/Data/PlayByPlay/velocity.ui.min.js
src/SBWHLMobileClient/JSComponents/Mobile/WidgetsContainer/Utilities/HlsVideoPlayer.js
src/SBWHLMobileClient/JSComponents/hls.light.min.es5.js
/src/SBWHLMobileClient/imgs/pbp/BluePitch.svg
/src/SBWHLMobileClient/imgs/pbp/BrownPitch.svg
/src/SBWHLMobileClient/imgs/pbp/GreenPitch.svg
/src/SBWHLMobileClient/imgs/pbp/Medical.svg
/src/SBWHLMobileClient/imgs/pbp/TennisBall.svg
/src/SBWHLMobileClient/imgs/pbp/TennisBallFF.png
/src/SBWHLMobileClient/imgs/pbp/Timer.svg
/src/SBWHLMobileClient/JSComponents/Elements/PlayByPlay/Drawers/Statistics/TennisStatistics.js
/src/SBWHLMobileClient/templates/custom/TTennisStatistics.js
/src/SBWHLMobileClient/JSComponents/Data/UniSlip/QASelectionsMarketGroup.js
/src/SBWHLMobileClient/JSComponents/Data/UniSlip/RegularSelectionsMarketGroup.js
/src/SBWHLMobileClient/JSComponents/Data/UniSlip/SelectionsMasterGroup.js
/src/SBWHLMobileClient/JSComponents/Data/UniSlip/BookABet.js
/src/SBWHLMobileClient/JSComponents/Data/UniSlip/BookedBets.js
src/SBWHLMobileClient/JSComponents/Data/UniSlip/Modes/YourBetSPSlipMode.js
/.idea/
src/SBWHLMobileClient/JSComponents/Utils/GeolocationUtils.js
/src/SBWHLMobileClient/JSComponents/custom/velocity.min.js
/src/SBWHLMobileClient/JSComponents/custom/velocity.ui.min.js
/src/SBWHLMobileClient/JSComponents/Data/TeamSwapUtility.js
src/SBWHLMobileClient/ISAAS/
src/SBWHLMobileClient/JSComponents/Data/BonusInfoExtensions.js
